extends layout

block content
  div(class="container-fluid")
    h1(style ="margin-top: 78px; font-weight: bold; text-align: center") El Inventario de los Novelistas...
    div(class="galeria")
      for book in respuesta
        div(class="card" style="border-radius: 1rem; position: relative;")
          div(style="width: 15rem; heigth:30rem; margin: 0 auto;")
            if book.image != null
              img(class="card-img" src="http://localhost:4040/#{book.image}" style="margin-top: 10px")

          div(class="card-body")
            h3(class="card-title" style="text-align: center;") #{book.name}
            h5(class="card-text" style="text-align: center; margin-top: 1.5rem")  Autor: #{book.author}
            h5(class="card-text" style="text-align: center")  Stock: #{book.stock} libro(s)
            if book.state == "Disponible"
              h5(class="card-text" style="text-align: center;")  Estado: #{book.state} 
                i(class="fa-regular fa-circle-check" style="color: green")
            else 
              h5(class="card-text" style="text-align: center;")  Estado: #{book.state} 
                i(class="fa-regular fa-circle-xmark" style="color: red")
            br
            p(class="card-text" style="text-align: center") ¿Deseas conocer más sobre tu libro favorito? 

            div(class="d-grid gap-2 col-6 mx-auto")
              a(href="/book/#{book.id}" class="boton_detalle") Ver Detalle 
                i(class="fa-regular fa-eye")
              a(href="/upload_img/#{book.id}" class="boton_agregar") Agregar Imagen 
                i(class="fa-regular fa-image")
